/bin/
*/.settings
**/.classpath
**/.project
/.idea/.gitignore
/castor-xml/castor-xml.iml
/.idea/codeStyles/codeStyleConfig.xml
/com.cyclone.osgi.iml
/.idea/compiler.xml
/dom4j/dom4j.iml
/.idea/jarRepositories.xml
/jjwt/jjwt.iml
/.idea/*
/spring-integration-amqp/spring-integration-amqp.iml
/spring-integration-core/spring-integration-core.iml
/spring-integration-event/spring-integration-event.iml
/spring-integration-file/spring-integration-file.iml
/spring-integration-ip/spring-integration-ip.iml
/spring-integration-jdbc/spring-integration-jdbc.iml
/spring-integration-jms/spring-integration-jms.iml
/spring-integration-jmx/spring-integration-jmx.iml
/spring-integration-stream/spring-integration-stream.iml
/spring-security-acl/spring-security-acl.iml
/spring-security-config/spring-security-config.iml
/spring-security-core/spring-security-core.iml
/spring-security-taglibs/spring-security-taglibs.iml
/spring-security-web/spring-security-web.iml
/vijava/vijava.iml
/org.w3c.tidy/org.w3c.tidy.iml
/spring-asm/spring-asm.iml
/dom4j/target/
/dom4j/META-INF/MANIFEST.MF
/spring-aop/target/
/spring-aop/META-INF/
/spring-aspects/target/
/spring-aspects/META-INF/
/spring-beans/target/
/spring-beans/META-INF/
/spring-context/META-INF/
/spring-context/target/
/spring-context-support/META-INF/
/spring-context-support/target/
/spring-core/META-INF/
/spring-core/target/
/spring-expression/META-INF/
/spring-expression/target/
/spring-jdbc/META-INF/
/spring-jdbc/target/
/spring-jms/META-INF/
/spring-jms/target/
/spring-messaging/META-INF/
/spring-messaging/target/
/spring-orm/target/
/spring-orm/META-INF/
/spring-oxm/META-INF/
/spring-oxm/target/
/spring-tx/META-INF/
/spring-tx/target/
/spring-web/META-INF/
/spring-web/target/
/spring-webmvc/META-INF/
/spring-webmvc/target/
/spring-aop/spring-aop.iml
/spring-aspects/spring-aspects.iml
/spring-beans/spring-beans.iml
/spring-context/spring-context.iml
/spring-context-support/spring-context-support.iml
/spring-expression/spring-expression.iml
/spring-jms/spring-jms.iml
/spring-messaging/spring-messaging.iml
/spring-core/spring-core.iml
/spring-jdbc/spring-jdbc.iml
/spring-oxm/spring-oxm.iml
/spring-orm/spring-orm.iml
/spring-web/spring-web.iml
/spring-tx/spring-tx.iml
/spring-webmvc/spring-webmvc.iml
