/bin/
*/.settings
**/.classpath
**/.project
/.idea/.gitignore
/castor-xml/castor-xml.iml
/.idea/codeStyles/codeStyleConfig.xml
/com.cyclone.osgi.iml
/.idea/compiler.xml
/dom4j/dom4j.iml
/.idea/jarRepositories.xml
/jjwt/jjwt.iml
/.idea/*
/spring-integration-amqp/spring-integration-amqp.iml
/spring-integration-core/spring-integration-core.iml
/spring-integration-event/spring-integration-event.iml
/spring-integration-file/spring-integration-file.iml
/spring-integration-ip/spring-integration-ip.iml
/spring-integration-jdbc/spring-integration-jdbc.iml
/spring-integration-jms/spring-integration-jms.iml
/spring-integration-jmx/spring-integration-jmx.iml
/spring-integration-stream/spring-integration-stream.iml
/spring-security-acl/spring-security-acl.iml
/spring-security-config/spring-security-config.iml
/spring-security-core/spring-security-core.iml
/spring-security-taglibs/spring-security-taglibs.iml
/spring-security-web/spring-security-web.iml
/vijava/vijava.iml
/org.w3c.tidy/org.w3c.tidy.iml
/spring-asm/spring-asm.iml
